<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <figure>
                <img class="rounded" src="assets/logo.png" alt="logo">
            </figure>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center mx-auto">
                <li class="nav-item dropdown ps-lg-3">
                    <a class="nav-link dropdown-toggle" id="categorias" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu border-0" aria-labelledby="categorias">
                        <li *ngFor="let categoria of categorias" routerLinkActive="active">
                            <a role="button" class="dropdown-item ps-4"
                                [routerLink]="['/categoria' , categoria.id]">{{categoria.titulo}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['/new-post']">Nuevo
                        Post</a>
                </li>
            </ul>
        </div>
    </div>
</nav>