<div class="row mt-5">
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
    <app-card class="col-12 col-md-6 col-lg-4"></app-card>
</div>